<script>
import appConfig from "/app.config";

export default {
  page: {
    title: "404 Error Page",
    meta: [{ name: "description", content: appConfig.description }]
  },
}
</script>
<template>
  <div class="account-pages my-5 pt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-center mb-5">
            <h1 class="display-2 font-weight-medium">
              404
            </h1>
            <h4 class="text-uppercase">Oh No!!! La pagina no existe!!!</h4>
            <div class="mt-5 text-center">
              <router-link to="/">
                <v-btn class="warning">Volver</v-btn></router-link>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-8 col-xl-6">
          <div>
            <img src="@/assets/images/error-img.png" width="1024" height="720"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

