<template>
  <Navbar>
    <div>
      <v-card>
        <v-card-title class="text-center justify-center py-6 cannava title">
          <h3 class="font-weight-bold basil--text">
            UBICACIONES
          </h3>
        </v-card-title>
        <v-tabs
            color="teal lighten-1"
            fixed-tabs
            v-model="tabs"
            @change="changeTab"
        >
          <v-tab>Establecimientos / Predios</v-tab>
          <v-tab>Instalaciones</v-tab>
          <v-tab>Sub-Instalaciones / Divisiones</v-tab>
          <v-tab>Almacenes</v-tab>
          <v-tab>Recipientes</v-tab>

          <v-tabs-items
              v-model="tabs"
          >
            <v-tab-item>
              <v-col md="10" offset-md="1">
                <v-card-title>
                  <v-text-field
                      v-model="search"
                      append-icon="mdi-magnify"
                      label="Buscar"
                      single-line
                      hide-details
                  ></v-text-field>
                </v-card-title>
<!--                <v-data-table-->
<!--                    responsive="sm"-->
<!--                    :headers="headers"-->
<!--                    :items="desserts"-->
<!--                    :search="search"-->
<!--                >-->
<!--                  <template #cell(tipo)="row">-->
<!--                    {{ row.value === 'FIN' ? 'Finca' : row.value }}-->
<!--                  </template>-->
<!--                </v-data-table>-->
                <v-data-table
                    :headers="headers"
                    :items="desserts"
                    sort-by="codigo"
                    class="elevation-1"
                >
                  <template v-slot:top>
                    <v-toolbar
                        flat
                    >
                      <v-toolbar-title>Listado de Establecimientos / Predios</v-toolbar-title>
                      <v-divider
                          class="mx-4"
                          inset
                          vertical
                      ></v-divider>
                      <v-spacer></v-spacer>
                      <v-dialog
                          v-model="dialog"
                          max-width="500px"
                      >
                        <template v-slot:activator="{ on, attrs }">
                          <v-btn
                              color="primary"
                              dark
                              class="mb-2"
                              v-bind="attrs"
                              v-on="on"
                          >
                            New Item
                          </v-btn>
                        </template>
                        <v-card>
                          <v-card-title>
                            <span class="headline">{{ formTitle }}</span>
                          </v-card-title>

                          <v-card-text>
                            <v-container>
                              <v-row>
                                <v-col
                                    cols="12"
                                    sm="6"
                                    md="4"
                                >
                                  <v-text-field
                                      v-model="editedItem.codigo"
                                      label="Codigo"
                                  ></v-text-field>
                                </v-col>
                                <v-col
                                    cols="12"
                                    sm="6"
                                    md="4"
                                >
                                  <v-text-field
                                      v-model="editedItem.nombre"
                                      label="Nombre"
                                  ></v-text-field>
                                </v-col>
                                <v-col
                                    cols="12"
                                    sm="6"
                                    md="4"
                                >
                                  <v-text-field
                                      v-model="editedItem.tipo"
                                      label="Tipo"
                                  ></v-text-field>
                                </v-col>
                                <v-col
                                    cols="12"
                                    sm="6"
                                    md="4"
                                >
                                  <v-text-field
                                      v-model="editedItem.direccion"
                                      label="Direccion"
                                  ></v-text-field>
                                </v-col>
                                <v-col
                                    cols="12"
                                    sm="6"
                                    md="4"
                                >
                                  <v-textarea
                                      v-model="editedItem.observaciones"
                                      label="Observaciones"
                                  ></v-textarea>
                                </v-col>
                              </v-row>
                            </v-container>
                          </v-card-text>

                          <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn
                                class="error"
                                text
                                @click="close"
                            >
                              Cancelar
                            </v-btn>
                            <v-btn
                                class="primary"
                                text
                                @click="save"
                            >
                              Guardar
                            </v-btn>
                          </v-card-actions>
                        </v-card>
                      </v-dialog>
                      <v-dialog v-model="dialogDelete" max-width="500px">
                        <v-card>
                          <v-card-title class="headline">Are you sure you want to delete this item?</v-card-title>
                          <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" text @click="closeDelete">Cancelar</v-btn>
                            <v-btn color="blue darken-1" text @click="deleteItemConfirm">Eliminar</v-btn>
                            <v-spacer></v-spacer>
                          </v-card-actions>
                        </v-card>
                      </v-dialog>
                    </v-toolbar>
                  </template>
                  <template v-slot:item.actions="{ item }">
                    <v-icon
                        small
                        class="mr-2"
                        @click="editItem(item)"
                    >
                      mdi-pencil
                    </v-icon>
                    <v-icon
                        small
                        @click="deleteItem(item)"
                    >
                      mdi-delete
                    </v-icon>
                  </template>
                  <template v-slot:no-data>
                    <v-btn
                        color="primary"
                        @click="initialize"
                    >
                      Reset
                    </v-btn>
                  </template>
                </v-data-table>
              </v-col>
            </v-tab-item>
            <v-tab-item>
              <v-col md="10" offset-md="1">
                <v-card-title>
                  <v-text-field
                      v-model="search"
                      append-icon="mdi-magnify"
                      label="Buscar"
                      single-line
                      hide-details
                  ></v-text-field>
                </v-card-title>
                <v-data-table
                    responsive="sm"
                    :headers="headers"
                    :items="desserts"
                    :search="search"
                >
                </v-data-table>
              </v-col>
            </v-tab-item>
            <v-tab-item>
              <v-col md="10" offset-md="1">
                <v-card-title>
                  <v-text-field
                      v-model="search"
                      append-icon="mdi-magnify"
                      label="Buscar"
                      single-line
                      hide-details
                  ></v-text-field>
                </v-card-title>
                <v-data-table
                    responsive="sm"
                    :headers="headers"
                    :items="desserts"
                    :search="search"
                >
                </v-data-table>
              </v-col>
            </v-tab-item>
            <v-tab-item>
              <v-col md="10" offset-md="1">
                <v-card-title>
                  <v-text-field
                      v-model="search"
                      append-icon="mdi-magnify"
                      label="Buscar"
                      single-line
                      hide-details
                  ></v-text-field>
                </v-card-title>
                <v-data-table
                    responsive="sm"
                    :headers="headers"
                    :items="desserts"
                    :search="search"
                >
                </v-data-table>
              </v-col>
            </v-tab-item>
            <v-tab-item>
              <v-col md="10" offset-md="1">
                <v-card-title>
                  <v-text-field
                      v-model="search"
                      append-icon="mdi-magnify"
                      label="Buscar"
                      single-line
                      hide-details
                  ></v-text-field>
                </v-card-title>
                <v-data-table
                    responsive="sm"
                    :headers="headers"
                    :items="desserts"
                    :search="search"
                >
                </v-data-table>
              </v-col>
            </v-tab-item>
          </v-tabs-items>
        </v-tabs>
      </v-card>
    </div>
  </Navbar>
</template>

<script>
import Navbar from "../../../components/Navbar";
import Headers from './headers.js';
import axios from "axios";

export default {
  name: "MenuUbicaciones",
  components: {
    Navbar
  },
  data () {
    return {
      search: '',
      headers: Headers.predio,
      desserts: [],
      tabs: null,
      dialog: false,
      dialogDelete: false,
      editedIndex: -1,
      editedItem: [],
    }
  },
  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
    },
  },
  watch: {
    dialog (val) {
      val || this.close()
    },
    dialogDelete (val) {
      val || this.closeDelete()
    },
  },
  methods: {
    changeTab() {
      if (this.tabs === 0) {
        this.getPredio();
      }
      else if (this.tabs === 1) {
        this.getInstalaciones();
      }
      else if (this.tabs === 2) {
        this.getDivisiones();
      }
      else if (this.tabs === 3) {
        this.getAlmacenes();
      }
      else if (this.tabs === 4) {
        this.getRecipientes();
      }
    },
    getPredio() {
      axios
          .get('api/getPrediosList')
          .then((predios) => {
            this.headers = Headers.predio;
            this.desserts = predios.data;
            this.editedItem = predios.data;
          })
          .catch((err) => {
            console.log(err)
      });
    },
    getInstalaciones() {
      axios
          .get('api/getInstalacionesList')
          .then((instalaciones) => {
            this.headers = Headers.instalacion;
            this.desserts = instalaciones.data;
          })
          .catch((err) => {
            console.log(err)
          });
    },
    getDivisiones() {
      axios
          .get('api/getDivisionesList')
          .then((divisiones) => {
            this.headers = Headers.division;
            this.desserts = divisiones.data;
          })
          .catch((err) => {
            console.log(err)
          });
    },
    getAlmacenes() {
      axios
          .get('api/getAlmacenesList')
          .then((almacenes) => {
            this.headers = Headers.almacen;
            this.desserts = almacenes.data;
          })
          .catch((err) => {
            console.log(err)
          });
    },
    getRecipientes() {
      axios
          .get('api/getRecipientesList')
          .then((recipientes) => {
            this.headers = Headers.recipiente;
            this.desserts = recipientes.data;
          })
          .catch((err) => {
            console.log(err)
          });
    },
    editItem (item) {
      this.editedIndex = this.desserts.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    deleteItem (item) {
      this.editedIndex = this.desserts.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogDelete = true
    },

    deleteItemConfirm () {
      this.desserts.splice(this.editedIndex, 1)
      this.closeDelete()
    },

    close () {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    closeDelete () {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    save () {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem)
      } else {
        this.desserts.push(this.editedItem)
      }
      console.log(this.desserts[this.editedIndex].id);
      axios
      .post(`http://localhost:8001/api/getPredio/${this.desserts[this.editedIndex].id}`, this.desserts)
      this.close()
    },
  },
  beforeMount() {
    this.getPredio();
  }
}
</script>

<style scoped>
.title {
  color: white;
}
</style>
