<template>
  <div>
<!--    <v-app id="inspire">-->
      <v-app-bar app class="cannava">
        <v-app-bar-nav-icon @click.stop="drawer = !drawer" color="white"></v-app-bar-nav-icon>
        <v-toolbar-title><v-img src="../assets/logos/Logo_Cannava_Solo_800px_White.png" width="150" height="20"></v-img></v-toolbar-title>
        <p class="title">| Sistema de Trazabilidad</p>
        <v-spacer></v-spacer>
        <v-btn class="error">Salir</v-btn>
      </v-app-bar>
<!--        <v-container class="fill-height">-->
<!--          <v-row>-->
            <slot></slot>
<!--          </v-row>-->
<!--        </v-container>-->

        <v-navigation-drawer
            v-model="drawer"
            absolute
            temporary
        >
          <v-list-item>
            <v-list-item-avatar>
              <v-img src="../assets/logos/favicon.png"></v-img>
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title>Menú Principal</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-divider></v-divider>

          <v-list dense>
            <v-list-item
                v-for="item in items"
                :key="item.title"
                link
            >

                <v-list-item-icon>
                  <v-icon>{{ item.icon }}</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <router-link :to='item.link'  class="menu-text">
                    <v-list-item-title class="menu-text">{{ item.title }}</v-list-item-title>
                  </router-link>
                </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-navigation-drawer>

<!--    </v-app>-->
  </div>
</template>

<script>
import { menuItems } from './menu';
export default {
  name: "navbar",
  data () {
    return {
      drawer: null,
      items: menuItems,
    }
  },
  watch: {
    group () {
      this.drawer = false
    },
  },
}
</script>

<style scoped>

.menu-text {
  text-decoration: none;
  color: #212121;
}
.title {
  color: white;
  margin-top: 15px;
  margin-left: 15px;
}

</style>
